body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    background-color: #002d62; /* Azul escuro do Real Madrid */
    color: white;
}

.navbar-brand {
    display: flex;
    align-items: center;
}

.logo {
    width: 40px;
    height: auto;
    margin-right: 10px;
}

.nav-link {
    color: white !important;
}

.nav-link:hover {
    color: #ffd700 !important; /* Dourado do Real Madrid */
}
.main {
    padding: 20px 0;
    flex: 1;
}

.banner {
    background-image: url('5.webp'); /* Substitua pelo seu banner */
    background-size: cover;
    background-position: center;
    color: white;
    padding: 230px 0;
    text-align: center;
}

.jumbotron {
    background-color: rgba(0, 0, 0, 0.5); /* Fundo semitransparente */
}

.search-form {
    padding: 20px 0;
}

.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-body h2 {
    margin-bottom: 20px;
}

.popular-destinations {
    padding: 20px 0;
}

.popular-destinations h2 {
    color: midnightblue;
    text-align: center;
    margin-bottom: 30px;
}

.card-img-top {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.footer {
    background-color: #002d62; /* Azul escuro do Real Madrid */
    color: white;
    text-align: center;
    padding: 10px 0;
    width: 100%;
}
.btn-primary {
    background-color: #002d62; /* Azul escuro do Real Madrid */
    border-color: #002d62;
}

.btn-primary:hover {
    background-color: #ffd700; /* Dourado do Real Madrid */
    border-color: #ffd700;
    color: #002d62;
}